@import "libs/bootstrap-reboot.min";
@import "libs//fonts";

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}
.container {
    width: 1140px;
    margin: 0 auto;
}
@import "base/variables";
@import "base/mixins";


@import "blocks/promo";
@import "blocks/button";
@import "blocks/title";
@import "blocks/sidepanel";

