@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 500px;
            column-gap: 40px;
        }
        &__skills {
            column-gap:20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,240px);
        }
        &__skill {
            grid-template-columns: 40px 180px;
            column-gap: 15px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 45px 0 45px;
            grid-template-columns: repeat(2,380px);
            column-gap: 80px;
        }
        &__column {
            ul {
                li {
                    &::after {
                        height: 100%;
                    }
                }
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,300px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit ,280px);
            justify-content:center;
            .vertical, .horizonal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 20px 0 20px;
            grid-template-columns: 350px 500px; 
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,240px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
        }
        &__skill {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 40px 0 40px;
            grid-template-columns: repeat(2,300px);
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,340px);
        } 
        .progress {
            grid-template-columns: repeat(2,1fr);
        }
    }
    .price-list {
        &__wrapper {
            padding: 60px 0 0 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 400px; 
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,190px);
        }
        &__triggers {
            column-gap: 20px;
        }
        &__btn {
            font-size: 12px;
        }
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__skill {
            grid-template-columns: 40px 200px;
            column-gap:20px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 20px 0 20px;
            grid-template-columns: repeat(2,240px);
            column-gap: 30px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        .progress {
            margin-top: 40px;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 40px;
        }
    }
    .portfolio {
        padding-top: 46px;
        &__wrapper {
            margin-top: 40px;
            gap:20px;
        }
    }
    .price-list {
        &__wrapper {
            padding-top: 40px;
            justify-content: center;
            row-gap: 20px;
        }
    }
    .contacts {
        padding: 60px 0 90px 0;
        &__photo {
            display: none;
        }
        &__wrapper {
            padding: 0 10px 0 10px;
            grid-template-columns: 1fr; 
        }
        &__form {
            grid-template: 45px 45px 190px 45px / 1fr;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
        }
        &__btn {
            margin-top: 20px;
            grid-row: 2/3;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36 {
            font-size: 24px;
        }
    }
    .humburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .experience {
        &__wrapper {
            padding: 40px 20px 0 20px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        
    }
    .price-list {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,295px);
        }
    }
    .contacts {
        padding: 40px 0 50px 0;
        &__form {
            grid-template: 45px 45px 143px 125px / 1fr;
        }
        &__link {
            margin-right: 16px;
        }
        &__triggers {
            justify-self: center;
        }
        &__btn {
            justify-self: center;
        }
        &__policy {
            text-align: center;
        }
    }
    
}