@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 500px;
            column-gap: 40px;
        }
        &__skills {
            column-gap:20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,240px);
        }
        &__skill {
            grid-template-columns: 40px 180px;
            column-gap: 15px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 45px 0 45px;
            grid-template-columns: repeat(2,380px);
            column-gap: 80px;
        }
        &__column {
            ul {
                li {
                    &::after {
                        height: 100%;
                    }
                }
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,300px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
        }
        &__skill {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 40px 0 40px;
            grid-template-columns: repeat(2,300px);
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,340px);
        } 
        .progress {
            grid-template-columns: repeat(2,1fr);
        }
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__skill {
            grid-template-columns: 40px 200px;
            column-gap:20px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 20px 0 20px;
            grid-template-columns: repeat(2,240px);
            column-gap: 30px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        .progress {
            margin-top: 40px;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 40px;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36 {
            font-size: 24px;
        }
    }
    .humburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .experience {
        &__wrapper {
            padding: 40px 20px 0 20px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        
    }
}